DB_CONNECTION=Data Source=soit-sql.mandela.ac.za;Initial Catalog=grp-03-15;Persist Security Info=True;User ID=***;Password=***;Pooling=False;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=True;Command Timeout=30;